@import './variables';

.service-info {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px 2px rgba(128, 128, 128, 0.171);
  @include breakpoint(tablet-landscape) {
    width: fit-content;
  }
  @include breakpoint(mobile-landscape) {
    margin: 0.5rem 0;
  }
}

.service-box {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  @include breakpoint(tablet-landscape) {
    flex-direction: row;
  }
  @include breakpoint(mobile-landscape) {
    flex-direction: column;
    margin: 0;
  }
}

.service-info h1 {
  font-size: 2rem;
  font-family: 'Tourney', cursive;
  font-weight: 900;
}
.service-info h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(2, 80, 126);
}
.service-info p {
  font-size: 1.4rem;
  font-weight: 300;
}
